* {
    padding: 0;
    margin: 0;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 1.2rem 2rem;
    text-align: left;
}

.icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon > img {
    width: 30px !important;
    margin-right: 10px;
}

.links {
    display: flex;
    gap: 25px;
}

.links > a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.reference {
    display: flex;
    gap: 15px;
}

.reference > button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    /* height: 18px;
    width: 18px; */
    border: none;
    background: #fff;
}

.reference > button > img {
    height: 18px;
    width: 18px;
    padding: 7px;
}

.reference > button:hover {
    background: #f4f4f4;
    cursor: pointer;
}

.banner {
    position: relative;
    z-index: -5;
}

.banner > img {
    width: 100% !important;
}

.banner-content {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
}

.banner-content > div {
    width: 50%;
}

.arrival-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrival {
    max-width: 500px;
    padding: 30px;
    background: #FFF3E3;
    border-radius: 12px;
    border: 1px solid black;
    box-shadow: 5px 5px #00000040;
}

h1{
    font-size: 40px;
    color: #B88E2F;
    margin-bottom: 20px;
}

.one{
    font-size: 18px;
    margin-bottom: 20px;
}

.arrival-btn {
    padding: 20px 40px;
    justify-content: center;
    font-size: 15px; 
    color: white;
    border: none;
    background-color: #B88E2F;
}

.arrival-btn:hover{
    background-color: white;
    cursor: pointer;
}

.browser-wrapper{
    text-align: center;
}

.browser-head{
    padding: 40px 0;
    text-align: center;
}

.browser-head > h1{
    color: black;
}

.browser-items-container {
    display: flex;
    justify-content: center;
}

.browser-items-wrapper {
    display: flex;
    gap: 20px;
}

.browser-items > img{
    max-height: 25rem;
    margin-top: 10px;
    border-radius: 12px;
}

.browser-items > p{
    margin-top: 7px;
}

.Product-text{
    color: black;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 80px;
}

.Product-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 10px;
    padding-left: 5rem;
    padding-right: 5rem;
}

.product-card {
    position: relative;
    background: #F4F5F7;
    width: min-content;
    cursor: pointer;
}

.product-card:hover > div:nth-child(1) {
    display: flex;
    align-items: center;
}

.product-card:hover > div:nth-child(2) {
    display: none;
}

.product-hover {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(58, 58, 58, 0.7);
}

.product-hover-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.product-hover-content > div {
    display: flex;
    gap: 12px;
}

.product-hover-content > div > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.product-hover-content > div > div > a  {
    color: #fff;
}

.product-btn {
    border: none;
    background-color: #fff;
    padding: 15px 25px;
    color: #B88E2F;
}

.item-content {
    display: grid;
    gap: 10px;
    padding: 10px 15px;
}

.Product-description {
    color: #898989;
}

.Product-Price {
    font-weight: 500;
}

.old-price {
    color: #B0B0B0;
    text-decoration: line-through;
}

.discount-tag {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #B88E2F;
    color: #fff;
    border-radius: 999px;
    padding: 15px;
}

.inside{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 240%;
    left: 9%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.add{
    background: white;
    color: #B88E2F;
    font-size: 16px;
    padding: 16px 105px;
}
